<h1>About</h1>

<div class="main-content-medium">
    <h3>Hello! Thank you for visiting my webpage!</h3>
    <p>
        My name is Paulina Binas and I'm a software developer with keen interest in solving real-life problems using technology.
        I have commercial experience with Front-End design and programming, but my current goal is to gain expertise in
        Back-End, especially using Java. Therefore, I'm open to any job proposals.
    </p>
    <p>
        As to me as a person, I enjoy starting off my days with yoga, learning languages to keep my memory sharp and playing
        video games in spare time.
    </p>
    <p>
        If you want to send me a job offer, please contact me via email given in the Contact section. For more personal
        inquires, you can contact me on the listed platforms.
    </p>
</div>