<h1>Contact</h1>

<div class="main-content-small">
    <div class="description">
        <p></p>
    </div>
    <div class="line">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <a> binaspaulina1 <i class="fa fa-at" aria-hidden="true"></i> gmail.com</a>
    </div>
    <div class="line">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span> (+48) 785 473 283</span>
    </div>
    <div class="line">
        <a target="_blank" href="https://github.com/PaulinaBinas"><i class="fa fa-github-square social-media" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/binaspaulina/"><i class="fa fa-linkedin-square social-media" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100000272883959"><i class="fa fa-facebook-square social-media" aria-hidden="true"></i> </a>
        <a target="_blank" href="http://steamcommunity.com/id/SauronTheAbhorred/"><i class="fa fa-steam-square social-media" aria-hidden="true"></i> </a>
    </div>
</div>