<h1>Interests</h1>

<div class="main-content">
    <div class="description">
        <span onclick="openView('main')"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    </div>
    <div class="column-container">
        <h3>Yoga</h3>
        <p>
            My morning daily practice includes 30 minutes of this wonderful exercise, which aids in both awakenening 
            the body from sleep, but also stretching and strenghtening it, followed by relaxation. 
        </p>
        <br />
        <h3>Tibetan Language and Culture</h3>
        <p>
            This interest has awoken due to the stories I heard from my Tibetan partner. The culture is so rich and different
            from Western, that it can take a whole day of discussion to just cover one area and still be full of questions!
            The language is fascinating but very complicated due to the numerous rules of spelling, which require learning
            not only the pronunciation of the word but also the character order and stacking (for Tibetan has a different alphabet).
        </p>
        <br />
        <h3>Reading Books</h3>
        <p>
            Whether for relaxing, learning or feeling the thrill of adventure, I enjoy spending spare moments with a book in hand.
            If you want to check the titles I've gone through you can look at my profile on 
            <a href="http://lubimyczytac.pl/profil/314723/mairon" target="_blank">Polish lubimyczytac.pl</a> or
            <a href="https://www.goodreads.com/user/show/19672514-paulina" target="_blank">English goodreads</a>
        </p>
        <br />
        <h3>Playing Video Games</h3>
        <p>
            Sometimes, I also play video games. You can check out my steam if you are interested - the link is in Contact section.
        </p>
    </div>
</div>