<h1>Projects</h1>

<div class="main-content">
    <div class="description">
        <h4>Software projects in the areas of my interests, which I was the author of or to which I contributed in a large part.</h4>
    </div>
    <div class="column-container">
        <div class="bordered-container">
            <h3>VR Interior Visualization</h3>
            <div>
                <span class="bold">Description: </span>
                
            </div>
            <div><span class="bold">State: </span>Finished</div>
            <div><span class="bold">Technologies used: </span>Unreal Engine 4, 3Ds Max, HTC Vive HMD</div>
            <div><span class="bold">Project presentation video: </span><a target="_blank" href="https://www.youtube.com/watch?v=4foPzTHTmto">https://www.youtube.com/watch?v=4foPzTHTmto</a></div>
        </div>
        <div class="bordered-container">
            <h3>Tibetan Language Learning Web Application</h3>
            <div><span class="bold">Description: </span></div>
            <div><span class="bold">State: </span>In development</div>
            <div><span class="bold">Technologies used: </span>HTML, CSS, JavaScript, Sass/Less, Java, JSP, JDBC, Angular 5</div>
            <div><span class="bold">Link to project on Github: </span><a target="_blank" href="https://github.com/TibetanAppTeam/tibetan-learning">https://github.com/TibetanAppTeam/tibetan-learning</a></div>
        </div>
        <div class="bordered-container">
            <h3>Android Application for students of heavy-machinery course</h3>
            <div>
                <span class="bold">Description: </span>
                This application was developed for a university course, but was the idea of the training company owner.
                It is a company based in Wrocław, Poland, thus the language of the application is Polish. 
                The team who developed it consisted of four people, including me, with each one of us being different nationality.
                We have improved not only our programming skills during this project, but also communication and collaboration,
                which are equally important when working with other people.
            </div>
            <div><span class="bold">State: </span>In development</div>
            <div><span class="bold">Technologies used: </span>Java, Android Studio</div>
            <div><span class="bold">Link to project on Github: </span><a target="_blank" href="https://github.com/TeamProjectFraczkowski/MatRevApp">https://github.com/TeamProjectFraczkowski/MatRevApp</a></div>
            <div><span class="bold">Link to project on Android Market: </span><a target="_blank" href="">To be added</a></div>
        </div>
    </div>
</div>

