<h1>Experience and Skills</h1>

<div class="main-content">
    <div class="description">
        <span onclick="openView('main')"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    </div>
    <div class="column-container">
        <h3>Experience</h3>
        <div class="bordered-container">
            <h4>
                <span class="bold">Front-End Developer</span>
                <span> at Tailored Mobile Solutions</span>
            </h4>
            <p>
                <span class="bold">Since: </span>
                <span>October 2017</span>
            </p>
            <p>
                <span class="bold">Responsibilities: </span>
                <span>
                    Design and implementation of webpages using HTML, CSS, SASS/LESS, JavaScript, Angular.
                    Improving the existing code and implementing new functionalities on the Front-End side.
                </span>
            </p>
        </div>
        <div class="bordered-container">
            <h4>
                <span class="bold">Front-End Intern</span>
                <span> at Tailored Mobile Solutions</span>
            </h4>
            <p>
                <span class="bold">Since: </span>
                <span>September 2017</span>
                <span class="bold"> Until: </span>
                <span>October 2017</span>
            </p>
            <p>
                <span class="bold">Responsibilities: </span>
                <span>
                    Improving existing webpages using HTML, CSS, SASS/LESS, JavaScript, Angular.
                </span>
            </p>
        </div>
        <h3>Technical skills</h3>
        <ul>
            <li><span class="bold">Java SE</span> - Very good</li>
            <li><span class="bold">HTML</span> - Very good</li>
            <li><span class="bold">CSS</span> - Very good</li>
            <li><span class="bold">SASS/LESS</span> - Very good</li>
            <li><span class="bold">AngularJS</span> - Beginner</li>
            <li><span class="bold">OOP</span> - Very good</li>
            <li><span class="bold">Design Patterns</span> - Good</li>
            <li><span class="bold">Data structures & algorithms</span> - Good</li>
            <li><span class="bold">Machine Learning</span> - Beginner</li>
        </ul>
        <h3>Non-technical skills</h3>
        <ul>
            <li><span class="bold">English</span> - C1 (Advanced)</li>
            <li><span class="bold">German</span> - A1/A2 (Beginner)</li>
            <li><span class="bold">Tibetan</span> - A1 (Beginner)</li>
            <li><span class="bold">Driving license</span></li>
            <li><span class="bold">Working in a team</span></li>
            <li><span class="bold">Managing my time</span></li>
        </ul>
    </div>
</div>
