$gray: rgba(43, 59, 51, 1);
$red: rgba(61, 13, 2, 1);
$yellow: rgba(249, 216, 0, 1);
$yellow-transparent: rgba(249, 216, 0, .7);
$orange: rgba(219, 112, 0, 1);
$black: rgba(23, 13, 0, 1);
$black-transparent: rgba(23, 13, 0, .2);